
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

   /*
    outline: 1px solid red;     
   */
 
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: "Raleway", sans-serif;

    /*
    
    background-image: linear-gradient(to top left, steelblue, hotpink);
    background-repeat: no-repeat;

    */
    /*height: 100vh;*/

/*
    background: linear-gradient(90deg, #4776E6 0%, #8E54E9 100%);
*/

    /*
    min-height: 100vh;
    */
}

/*declar variable*/
:root{
    --colorTexto:#7e7e7e;
    --colorBotones: #f69229;
    --colorFondo: #5d8a9f;    
    --marginElementos: 40px;
}


.contenedor{
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;

    /*todo lo q salga lo escondas*/
    overflow: hidden;
    padding: 60px 0;
    
}

/*menu*/
nav.nav__MenuNavegacion
{
    display: flex;
    flex-direction: row;    
    justify-content: space-between;
    align-items: center;
}

div.nav__logo img
{   
    width: 60px;    
}

div.nav__enlace{
    display: flex;
    flex-direction: row;    
}

div.nav__enlace li {
    list-style: none;
}

div.nav__enlace li a{
    display: inline-block;
    text-decoration: none;
    padding: 0 10px;
    color: #fff;
}

div.nav__enlace li a:hover{
    color: #292929;
    transition: all 0.3s ease-in;
}


/*banner*/
header.header{
    width: 100%;
    background-image: linear-gradient(-225deg, rgba(44, 216, 213, 0.401) 0%, rgba(197, 193, 255, 0.406) 56%, rgba(255, 186, 195, 0.405) 100%), url("../img/girl.jpg");

    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    /*es para usar con wave*/
    position: relative;
}

div.hero{
    height: 600px;        
    
}

div.hero__textos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;    
}

h1.hero__titulo{
    font-size: 60px;
    margin-bottom: 30px;
}

p.hero__subtitulo{
    font-size: 24px;    
    font-weight: 300;
}

div.hero__textos{
    padding-bottom: 100px;
}


div.wave{
    position: absolute; /*con esto sale del flujo*/
    bottom: 0;
    left: 0;
    width: 100%;
}

/*nosotros*/
seccion.seccion{
    padding-top: 30px;
}

h2.seccion__titulo{
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    color: #7c79a0;
    padding-bottom: 60px;
}

div.seccion__SobreNosotros{
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    flex-wrap: wrap;
}


div.seccion__SobreNosotros img.ilustracion{
    animation: ilustracionAnimacion ease-in 1s infinite alternate;
}

@keyframes ilustracionAnimacion
{
    0%{
        transform: scale(1.15);
    }

    100%{
        transform: scale(1.04);
    }
    
}



div.relatos{
    width: 40%;
}

div.relato{
    margin-bottom: 30px;
}

h3.relato__titulo{
    font-size: 25px;
    color: #7c79a0;
    margin-bottom: 5px;
}

img.ilustracion{
    width: 50%;
}


/*portafolio*/
section.portafolio{
    background-color: #f2f2f2;
}

div.contenedor__portafolioimagenes{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

div.imagenContenedor{
    width: 31%;
    height: 250px;
    margin-bottom: 20px;
}

div.imagenContenedor img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover; /*para q la imane no se distoricione*/
    border-radius: 10px;


    /*efecto*/
    filter: brightness(80%);
}


 /*efecto*/
div.imagenContenedor img:hover{
    filter: brightness(100%);
    transition: all 0.3s ease-in;
}








/*Precio*/
div.seccion__tablaPrecios{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

div.precio{
    width: 30%;
    text-align: center;
    background-color: #b497f4;
    height: 500px;
    border-radius: 10px;
    padding: 50px 10px;
    overflow: hidden;
    color: #fff;
}

div.active{
    background-color: #a7c2e9;
    transform: scale(1.1);
}

h3.precio__titulo{
    font-size: 40px;    
}

p.precio__parrafo{
    font-size: 22px;
    margin-bottom: 40px;
}

h2.precio__beneficio{
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 20px;
    border-bottom: 1px dotted #fff;
    padding-bottom: 5px;
}

a.precio_cuenta{
    background-color: #fff;
    color: #7c79a0;
    display: inline-block;
    margin-top: 30px;
    width: 100px;
    padding: 10px 0;
    text-decoration: none;
    border-radius: 7px;
}


/*footer*/
footer{
    background-color: #b497f4;
    position: relative;
}

footer div.wave{
    top: 0;
    left: 0;
}

footer div.contenedor h2.seccion__titulo{
    color: #fff;
    margin-top: 70px;
}


form.formulario {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.input{
    border: 1px solid #fff;
    background: none;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    font-weight: 300;

    outline: none;  /*lineas ojo*/
    padding: 20px 10px;
    color: #fff;
    margin-bottom: 20px;
}

input[type="text"],
input[type="email"]
{
    width: 48%;
}

textarea{
    max-width: 100%;
    min-width: 100%;
    min-height: 250px;
    max-height: 250px;
}

.submit{
    margin: 0;
    padding: 0;
    width: 125px;
    padding: 15px 0;
    color: #fff;
    background-color: #7c79a0;
    cursor: pointer;
}

.submit:hover{
    background-color: #fff;
    color: #1c132f;
}


/*750px*/
@media screen and (max-width: 750px) 
{
   h1.hero__titulo{
    font-size: 45px;
   }

   p.hero__subtitulo{
    font-size: 22px;
   }

   h2.seccion__titulo{
    font-size: 28px;
   }


   div.seccion__SobreNosotros{
        justify-content: center;
   }


   div.relatos{
        width: 80%;
   }

    div.relato{
        width: 80%;
        margin-bottom: 40px;
   }

   div.imagenContenedor{
        width: 47%;
   }

   /*Precio*/
   div.seccion__tablaPrecios{
        height: auto;
   }

   div.precio{
        width: 60%;
        margin-bottom: 40px;
   }


}


/*500px*/
@media screen and (max-width: 500px) 
{
    .contenedor{
        width: 93%;
        padding: 30px 0;
    }

    nav.nav__MenuNavegacion
    {
        display: flex;
        flex-direction: column;
        gap: 10px;

    }

    h1.hero__titulo{
        font-size: 35px;
    }


    div.relato{
        width: 100%;
        margin-top: 10px;
    }


    div.imagenContenedor{
        width: 90%;
    }

    div.precio{
        width: 80%;
    }

    
    input[type="text"],
    input[type="email"]
    {
        width: 100%;
    }

    .submit{
        width: 100%;
    }

}







